<div class="container hero">
	<div class="hero_text">
		<h1>{{ title | raw }}</h1>
		<p>{{ description }}</p>
		<a href="#" class="pulse button">
			{{ linkText }}
		</a>
	</div>
	<div class="hero_image">
		<img src="/images/Hero.png" alt="alt" />
	</div>
</div>