{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Me contacter{% endblock %}

{% set heroInfo = {
    title: "Me contacter",
    description: "Actuellement en formation développeur web et Mobile, je maîtrise le Html / css / Javascript , ainsi que l’utilisation de la librairie React.",
    linkText: "Voir mes réalisations"
} %}

{% block body %}
    <div>
        {% include('/partials/hero.html.twig') with heroInfo %}
        <div class="contact">
            <div class="container">
                <h2 class="active">Me contacter</h2>
                <div class="contact_wrapper">
                    <div class="contact_image">
                        <img src="/images/mail.svg" alt="mail image" />
                    </div>
                    <form class="contact_form">
                        <div class="contact_form__group">
                            <label for="name">Nom / Prénom:</label>
                            <input
                                    type="text"
                                    name="name"
                                    id="name"
                                    class="input_controll"
                            />
                        </div>
                        <div class="contact_form__group">
                            <label for="email">Email:</label>
                            <input
                                    type="email"
                                    name="email"
                                    id="email"
                                    class="input_controll"
                            />
                        </div>
                        <div class="contact_form__group">
                            <label for="subject">Sujet:</label>
                            <input
                                    name="subject"
                                    id="subject"
                                    class="input_controll"
                            />
                        </div>
                        <div class="contact_form__group">
                            <label for="message">Votre message:</label>
                            <textarea
                                    rows="10"
                                    id="message"
                                    name="message"
                                    class="input_controll"></textarea>
                        </div>
                        <div class="contact_form__group">
                            <button
                                    type="submit"
                                    class="button pulse"
                            >
                                Envoyer
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
