{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Mes réalisations{% endblock %}

{% set heroInfo = {
    title: "Mes réalisations",
    description: "Actuellement en formation développeur web et Mobile, je maîtrise le Html / css / Javascript , ainsi que l’utilisation de la librairie React.",
    linkText: "Me contacter"
} %}

{% block body %}
    <div style="position: relative">
        {% include('/partials/hero.html.twig') with heroInfo %}
        <div class="project">
            <div class="container">
                <div class="project_wrapper">
                    <h2 class="active">Projets</h2>
                        <div class="project_card" >
                            <div class="project_card__header">
                                <img
                                        src=""
                                        alt=""
                                />
                            </div>
                            <div class="project_card__body">
                                <p class="technology">project tags</p>
                                <h3>project title</h3>
                                <p>
                                    project description
                                </p>
                                <div class="project_card__button">
                                    <button
                                            class="button button_small"
                                    >
                                    En savoir plus
                                    </button>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
